#wrapper {
  padding-left: 300px;
}


.rockicons:hover {
  -moz-transform:scale(1.2);
   -webkit-transform:scale(1.2);
   -o-transform:scale(1.2);
   transform:scale(1.2);
}

[id^="rock_"] {
  float: left;
  padding-right: 10px;
}

#rockarea {
  float: left;
  height: 400px;
  width: 400px;
}

.rocksLocked {
    opacity: 0.5;
}

#pickarea {
  width: 200px;
  float: left;
  display: block;
  visibility: hidden;
}

[id^="pick_"] {
  float: left;
  padding-right: 10px;
  text-align:center;
  color: black;
}

#pickaxes {
  clear: both;
}

#rockslist {
  clear:both;
}

.lockedpick {
  opacity: 0.5;
}

.pickicons:hover {
  -moz-transform:scale(1.2);
   -webkit-transform:scale(1.2);
   -o-transform:scale(1.2);
   transform:scale(1.2);
}

/*inventory shit here*/
#inventory {
  clear: both;
  width: 340px;
  height: 570px;
  background-image: url("../images/inventory_back_test.png");
  background-size: cover;
  padding-left: 50px;
  padding-top: 60px;
  position: relative;
}

#gold {
  margin-top: 410px;
  margin-left: 60px;
  font-size: 16pt;
  color: yellow;
  position: absolute;
  display: block;
}

#level {
  margin-top: 410px;
  margin-left: 210px;
  font-size: 16pt;
  color: yellow;
  position: absolute;
  display: block;
}

#exp {
  margin-top: 380px;
  margin-left: 220px;
  font-size: 16pt;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  display: none;
}

[id^="invent_"] {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

/*shop stuff begins here*/
#shopWindow {
  display: none;
  background-image: url('../images/shop_back.png');
  width: 586px;
  height: 360px;
  background-size: cover;
  z-index: 100;
  position: relative;
  top: -600px;
  left: 100px;
  padding-top: 45px;
  padding-left: 10px;
}

#closeButton {
  background-image: url('../images/close_button.png');
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  margin-left: 540px;
  position: absolute;
  top: 5px;
}

[id^="sell_"] {
  float: left;
  padding-left: 10px;
  padding-bottom: 5px;
}

#shopAmount {
  color: yellow;
  font-size: 16pt;
}

#shopTitle {
  margin-left: 40px;
  position: absolute;
  top: 8px;
  font-size: 18pt;
  color: yellow;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(20deg);}50%{-ms-transform:rotate(-6deg);}100%{-ms-transform:rotate(6deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(40deg);}50%{transform:rotate(-40deg);}100%{transform:rotate(40deg);}}
#pickarea{-ms-animation:wiggle 2s infinite;-moz-animation:wiggle 1s infinite;-webkit-animation:wiggle 1s infinite;animation:wiggle 1s infinite;}
