<div class="row">
    <% include listRocks %>
</div>
<div class="row">
  <div class="col-md-4" id="pickarea"><img id="pickpicture" width="200px" src="./images/picks/<%=pickTypes[user.stats.pickaxes[user.stats.pickaxes.length-1]].id%>.png"/></div>
  <div style="padding-top:50px" class="col-md-4" id="rockarea" name="clickrock" onClick="doClick()">
    <img id="rockpicture" width="300px" src="images/rocks/<%=user.stats.rocksUnlocked%>.png"/>
  </div>
</div>
