<!doctype html>
<html>
  <head>
      <title>Runescape Miner v1</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="./stylesheet/style.css">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="./javascript/game.js"></script>
      <style>
          body        { padding-top:80px; word-wrap:break-word; }
      </style>
  </head>
  <body>
    <div id="wrapper">
      <strong>Welcome to Runescape Miner</strong>: <%= user.local.email %><br>
      <div class="row">
        <div class="col-md-3">
          <h2 onclick="mute()">Mute</h2>
        </div>
        <div class="col-md-3">
          <h2 onclick="toggleShop()">Shop</h2>
        </div>
        <div class="col-md-3">
          <h2><a href="/highscores">Highscores</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <% include clickArea %>
        </div>
        <div class="col-md-4">
          <div id="inventory">
            <% include inventory %>
          </div>
        </div>
      </div>
      <div id="shopWindow">
        <% include shopView %>
      </div>
    </div>
  </body>
</html>
