<!doctype html>
<html>
  <head>
      <title>Clicker Miner v1</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="./stylesheet/style.css">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="./javascript/game.js"></script>
  </head>
  <body>
    <div id="rockTooltip">
    </div>
    <div id="wrapper">
    <% if (user.local.email=="guest") {%>
        <div class="row">
            <h3>You are currently playing as a guest, click <a href="/signup">here</a> to make an account and save your progress</h3>
            <h5>Already have an account? Click <a href="/login">here</a> to login</h5>
    <%}%>
      <div class="row">
        <div class="col-md-2">
          <h2 onclick="mute()">Mute</h2>
        </div>
        <div class="col-md-2">
          <h2 onclick="toggleShop()">Shop</h2>
        </div>
        <div class="col-md-2">
          <h2><a href="/highscores">Highscores</a></h2>
        </div>
        <div class="col-md-2">
          <h2><a href="/logout">Logout</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <% include clickArea %>
        </div>
        <div class="col-md-4">
          <div id="inventory">
            <% include inventory %>
          </div>
        </div>
      </div>
      <div id="shopWindow">
        <% include shopView %>
      </div>
      <div id="footer" class="row">
        <div class="col-md-6" style="text-align: center;">
          <h5>Created by /u/Shockz13</h5>
        </div>
      </div>
    </div>
    <audio id="mining_sound_effect" src="./sounds/mining.ogg" preload="auto"></audio>
    <audio id="mining_finished" src="./sounds/finishedmining.ogg" preload="auto"></audio>
    <audio id="levelup_sound_effect" src="./sounds/levelup.ogg" preload="auto"></audio>
  </body>
</html>
