<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Clicker Miner v1</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body style="background-image: url('./images/loginback.png'); background-size: cover;">
<div class="container">

    <div class="jumbotron text-center">
        <h1>Runescape Clicker Miner v1</h1>
        <form action="/login" method="post">
            <input type="hidden" class="form-control" name="email" value="guest">
            <input type="hidden" class="form-control" name="password" value="guest">
            <button type="submit" class="btn btn-warning btn-lg">Play as Guest</button>
            <hr>
        </form>

        <p>Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Create an Account</a>
    </div>

</div>
</body>
</html>
