<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>Runescape Miner Highscores</title>
  </head>
  <body>
    <div id="wrapper">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <a href="../game"><h1>Play Clicker Miner<h1></a>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3" style="background-color:silver">
          <div class="col-md-3">
              Instructions:
          </div>
          <div class="col-md-8">
              The goal of the game is to mine the rock in the middle of the screen and collect ores. You can then sell your ore for money to upgrade
              your pickaxe. Every rock you mine rewards you with experience which will eventually level you up(You can see how much experience is
              required for each level <a href="http://runescape.wikia.com/wiki/Experience/Table">here</a>). Check the highscores and race your
              way to the elusive Seren stone or the most gold earned.
          </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3" style="background-color:white">
      </div>
      <div class="col-sm-6 col-sm-offset-3" style="background-color:silver">
          <div class="col-md-3">
              Extra info:
          </div>
          <div class="col-md-8">
              -While mining an AFK stone a blue box will show that you are currently afking it. Once the blue box dissapears it will take 1 more ore
              to stop mining it.
              <br>
              -If you hover over your level you can see your current experience.
              <br>
              -If when you mine your pickaxe flickers and nothing happens, refresh the page, this should resync it.
              <br>
              -Use Chrome or Firefox if possible as Internet Explorer has known issues.
          </div>
      </div>
    </div>
  </body>
</html>
