<div id="shopWindow">
  <% include pickaxes %>

  <% var shopArray = [[0,-1]];
  var test;
  for (x=0;x<user.stats.inventory.length;x++) {
    var found = false;
      for (i=0;i<shopArray.length;i++) {
        if (user.stats.inventory[x] == shopArray[i][0]) {
          shopArray[i][1] += 1;
          found = true;
        }
      }
      if (!found) {
        shopArray.push([]);
        shopArray[i][0] = user.stats.inventory[x];
        shopArray[i][1] = 1;
      }
      found = false;
    }
    for (x in shopArray) {
      if (shopArray[x][1] > 0) {%>
        <span id="sell_<%=rockTypes[shopArray[x][0]].id%>" onclick="">
        <img class="sellicons" height="50px" src="./images/ores/<%=rockTypes[shopArray[x][0]].id%>.png"/><span id="shopAmount"><%=shopArray[x][1]%></span></span>
    <%}
    }%>
</div>
